@import '../../../../styles/colors';

.container {
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: $background-color;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $primaryColor, $alpha: 0.2);
  }

  .content {
    display: flex;
    flex-grow: 1;
    margin-left: 15px;
    flex-direction: column;

    .name {
      font-size: 14px;
      font-weight: bold;
    }

    .message {
      font-size: 13px;
      color: $text-caption;
      flex-grow: 1;
    }
  }
}

.active {
  background-color: $primaryColor;

  &:hover {
    background-color: $primaryColor !important;
  }

  .message {
    color: white !important;
  }
}
