@import '../styles/colors';

.container {
  flex-grow: 1;
  background-color: $background-color;
  margin: 20px 20px 20px 0;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;

  .loading {
    position: absolute;
    height: 60px;
    width: 60px;
    background: rgba($color: black, $alpha: 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .conversation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
  }
}
