@import '../../../styles/colors';

.container {
  width: 300px;
  background-color: $drop-background;
  color: $text-scaffold;
  padding-top: 10px;

  .chat_label {
    margin: 10px 20px;
  }

  .user {
    display: flex;
    padding: 10px 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .content {
      display: flex;
      flex-grow: 1;
      margin: 0px 20px;
      flex-direction: column;

      .name {
        font-size: 14px;
        font-weight: bold;
      }

      .profile_lable {
        font-size: 13px;
        color: $text-caption;
        flex-grow: 1;
      }
    }
  }
}
