.container {
  width: 300px;
  background-color: grey;
}

.room {
  padding: 10px;
  margin: 5px;
  border: solid 1px #555555;
  border-radius: 10px;

  &:hover {
    background-color: #555555;
    cursor: pointer;
  }
}
